/* IMPORT COLORS */
@import "Colors.css";

/* GLOBAL DEFAULTS */
* {   	all:unset;
	font-family: JetBrainsMono Nerd Font Propo;
    	font-weight: 900;
    	font-size: 22px;
    	background-color: transparent; }

/* THE ACTUAL BAR */
window#waybar>box { background-color: @bg; padding-left: 22px; padding-right: 22px; }

/* TOOLTIPS */
tooltip 	{ background-color: rgba(0, 0, 0, 0.85); border-radius: 10px; }
tooltip label 	{ color: @fg; margin: 10; font-size: 16px; font-weight: 700; }

/* WORKSPACES */
#workspaces {
	background: linear-gradient(135deg, @grad1, @grad2);
	border-radius: 30px;
	margin: 8px;
	margin-left: 15;
	margin-right: 15;	}
#workspaces button {
    	color: @bg;
    	transition: 0.2s cubic-bezier(0.8, 1, 0.2, 2);
    	padding: 0 10px;
	border-radius: 30px;
	margin: 3px 3px; 	}
#workspaces button.focused,
#workspaces button.active {
	background: @bg;
    	color: @fg;
    	padding: 0 15px;
    	min-width: 50px;	}
#workspaces button.empty	{ color: @accent3; }
#workspaces button:hover	{ color: @fg2; background-color: @bg; min-width: 50px; }

/* PRIMARY COLOR & INTERACTIVE HOVER */
#custom-expand,
#custom-lock,
#custom-updates:hover,
#network:hover,
#bluetooth:hover,
#custom-screenshare:hover,
#custom-barlock:hover,
#pulseaudio:hover,
#wireplumber:hover	{ color: @fg; }

/* SECONDARY COLOR & INTERACTIVE HOVER */
#custom-power:hover,
#custom-reboot:hover,
#custom-logout:hover,
#custom-expand:hover,
#custom-lock:hover	{ color: @fg2; }

/* DARK ACCENTS & NON-INTERACTIVE HOVER */
#custom-power,
#custom-reboot,
#custom-logout,
#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover	{ color: @accent2; }

/* LIGHT ACCENTS & MODULES */
#clock,
#cpu,
#memory,
#temperature,
#custom-updates,
#network,
#bluetooth,
#custom-screenshare,
#custom-barlock,
#pulseaudio,
#wireplumber		{ color: @accent1; padding: 5px; }
