@define-color bg #000000;
@define-color fg #00FF40;
@define-color fg2 #ebfafa;
@define-color accent1 #323449;
@define-color accent2 #212337;
@define-color accent3 #008722;

@define-color grad1 #00FF00;
@define-color grad2 #00FF99;

