@define-color bg #323449;
@define-color fg #00ffea;
@define-color fg2 #f7c67f;
@define-color accent1 #37f499;
@define-color accent2 #f265b5;
@define-color accent3 #212337;

@define-color grad1 #04d1f9;
@define-color grad2 #00ffea;

