@define-color bg #0E070A;
@define-color fg #1BF8E6;
@define-color fg2 #FBE500;
@define-color accent1 #8E4DC0;
@define-color accent2 #4E4084;
@define-color accent3 #134C54;

@define-color grad1 #15F9E7;
@define-color grad2 #00eeff;

