@define-color bg #091013;
@define-color fg #F05521;
@define-color fg2 #EF8439;
@define-color accent1 #1B2D31;
@define-color accent2 #0A272D;
@define-color accent3 #9F3D36;

@define-color grad1 #9E3347;
@define-color grad2 #f16c75;

